<h1><%= @lesson.name %></h1>
<p>
  <%= @lesson.content %>
</p>

<p>
  <%= link_to "Previous Lesson", lesson_path(@lesson.next) %>
  <%= link_to "Next Lesson", lesson_path(@lesson.next) %>

</p>


<p>
  <%= link_to "edit", edit_lesson_path(@lesson) %>

  <%= link_to "delete", lesson_path(@lesson),
                        :data => { :confirm => "Are you sure???",
                                   :method => "delete"} %>
</p>
<p>
  <%= link_to "home", lessons_path %>

</p>
